// Base Colors
$shade-10: rgb(26, 56, 75) !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$colour: rgb(19, 121, 189) !default;


.range-slider {
  margin: 4px 0 0 0;
}

// Range Slider
$range-width: 60% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $colour !default;
$range-handle-size: 22px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 15px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider {
  width: $range-width;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
}


// Range Label
.round-slider {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;
}


// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
  background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}


// Round Slider
.round-slider {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.15, #00a3e3),
      color-stop(0.15, #e9ebf0)
  );
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-transition: .2s;
  transition: opacity .2s;

  // Range Handle
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    border: 2px solid white;
    background: #00a3e3;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &:active::-webkit-slider-thumb {
    opacity: 1;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &:active::-moz-range-thumb {
    opacity: 1;
  }

}
.roundslider {
  padding-top: 5px !important;
  font-size: 0.85em;
  & .label p{
    padding-left: 30px;
  }

  & .value{

    & input{
      height: 25px;
      width: 45px;
      padding: 2px;
      text-align: right; 
      border: 1px solid #DCDEE2;
      border-radius: 2px;
    }
    & p{
      display: inline;
    }
  }
  & hr{
    margin: 0;
  }
}

